In [8]:
import cx_Oracle as ora
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np

def setKoreanFont() :
    from matplotlib import font_manager, rc
    font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/gulim.ttc").get_name()
    rc("font", family=font_name)
    plt.rcParams["font.size"]=15
    plt.rcParams["figure.figsize"] = 14,8

In [22]:
con = ora.connect("WJV/wjvc3005@10.101.1.212:1521/CDW")

df_resource_001 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_E2) AS MAX_IDX_E2,
    MIN(IDX_E2) AS MIN_IDX_E2,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_001
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_E2-MIN_IDX_E2)/(MAX_IDX_E2-MIN_IDX_E2)*100,5) AS NORM_IDX_E2,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_001 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM <> '201907'

""", con=con)

df_resource_002 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_002
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_002 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM <> '201907'

""", con=con)


df_resource_004 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_004
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_004 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM <> '201907'

""", con=con)


df_resource_008 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_A1) AS MAX_IDX_A1,
    MIN(IDX_A1) AS MIN_IDX_A1,
    MAX(IDX_C1) AS MAX_IDX_C1,
    MIN(IDX_C1) AS MIN_IDX_C1,
    MAX(IDX_E2) AS MAX_IDX_E2,
    MIN(IDX_E2) AS MIN_IDX_E2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_008
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_A1-MIN_IDX_A1)/(MAX_IDX_A1-MIN_IDX_A1)*100,5) AS NORM_IDX_A1,
    ROUND((IDX_C1-MIN_IDX_C1)/(MAX_IDX_C1-MIN_IDX_C1)*100,5) AS NORM_IDX_C1,
    ROUND((IDX_E2-MIN_IDX_E2)/(MAX_IDX_E2-MIN_IDX_E2)*100,5) AS NORM_IDX_E2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_008 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM <> '201907'

""", con=con)

df_resource_003 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_A1) AS MAX_IDX_A1,
    MIN(IDX_A1) AS MIN_IDX_A1,
    MAX(IDX_F1) AS MAX_IDX_F1,
    MIN(IDX_F1) AS MIN_IDX_F1,
    MAX(IDX_F2) AS MAX_IDX_F2,
    MIN(IDX_F2) AS MIN_IDX_F2,
    MAX(IDX_I1) AS MAX_IDX_I1,
    MIN(IDX_I1) AS MIN_IDX_I1,
    MAX(CNT)    AS MAX_CNT,
    MIN(CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_003
)
SELECT
    SALE_YYMM,
    CNT,
    ROUND((IDX_A1-MIN_IDX_A1)/(MAX_IDX_A1-MIN_IDX_A1)*100,5) AS NORM_IDX_A1,
    ROUND((IDX_F1-MIN_IDX_F1)/(MAX_IDX_F1-MIN_IDX_F1)*100,5) AS NORM_IDX_F1,
    ROUND((IDX_F2-MIN_IDX_F2)/(MAX_IDX_F2-MIN_IDX_F2)*100,5) AS NORM_IDX_F2,
    ROUND((IDX_I1-MIN_IDX_I1)/(MAX_IDX_I1-MIN_IDX_I1)*100,5) AS NORM_IDX_I1,
    ROUND((CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_003 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM <> '201907'

""", con=con)

df_resource_tp1 = pd.read_sql("""

WITH VW_MIN_MAX AS (
SELECT  
    MAX(IDX_H1) AS MAX_IDX_H1,
    MIN(IDX_H1) AS MIN_IDX_H1,
    MAX(IDX_H2) AS MAX_IDX_H2,
    MIN(IDX_H2) AS MIN_IDX_H2,
    MAX(IDX_E3) AS MAX_IDX_E3,
    MIN(IDX_E3) AS MIN_IDX_E3,
    MAX(PORD_CNT)    AS MAX_CNT,
    MIN(PORD_CNT)    AS MIN_CNT
FROM SULIM_PRDCT_MART_TP1
)
SELECT
    SALE_YYMM,
    PORD_CNT AS CNT,
    ROUND((IDX_H1-MIN_IDX_H1)/(MAX_IDX_H1-MIN_IDX_H1)*100,5) AS NORM_IDX_H1,
    ROUND((IDX_H2-MIN_IDX_H2)/(MAX_IDX_H2-MIN_IDX_H2)*100,5) AS NORM_IDX_H2,
    ROUND((IDX_E3-MIN_IDX_E3)/(MAX_IDX_E3-MIN_IDX_E3)*100,5) AS NORM_IDX_E3,
    ROUND((PORD_CNT-MIN_CNT)/(MAX_CNT-MIN_CNT)*100,5) AS NORM_CNT
FROM
    SULIM_PRDCT_MART_TP1 A,
    VW_MIN_MAX B
WHERE 1=1
AND SALE_YYMM <> '201907'

""", con=con)

con.close()

In [38]:
# print(df_resource_001)
print(df_resource_002)
# print(df_resource_004)
# print(df_resource_008)
# print(df_resource_003)
# print(df_resource_tp1)

    SALE_YYMM    CNT  NORM_IDX_C1  NORM_IDX_F1  NORM_IDX_F2  NORM_IDX_I1  \
0      200401  19279     20.85097     22.17756     26.61629     19.25229
1      200402  18738     24.27099     27.98797     25.91465     16.81166
2      200504  18841     25.45587     29.31559     22.88060      9.27345
3      200505  17780     22.58598     25.71448     24.09885      4.05831
4      200506  17116     18.50427     20.01216     17.52188      4.34987
5      200507  15240     15.94983     16.82657     15.91041      0.78063
6      200508  15556      8.73278      8.71901     10.27025      0.37150
7      200509  16610      9.94845     11.36410     12.18628      5.27157
8      200510  17942     14.00323     14.48213     18.55893     14.10299
9      200511  21467     19.12749     20.06283     23.50515     20.21632
10     200512  24955     32.68831     34.95710     36.78631     27.99436
11     200601  24372     46.10679     49.97635     49.63183     23.11780
12     200602  24472     43.86397     49.05074     40.97691     24.25112
13     200603  26666     44.24867     49.18924     36.27356     42.19610
14     200604  24150     52.68908     57.53327     45.73037     22.27604
15     200605  23133     43.00993     45.93609     35.90347     17.40889
16     200606  22924     39.09748     39.20343     29.38047     19.52504
17     200607  22668     38.29345     36.27120     31.39288     16.96685
18     200608  12970     37.30861     35.57192     31.65118     18.69739
19     200609  16419      0.00000      0.00000      0.00000     23.60687
20     200610  16578     13.26845     12.32011     12.76456     33.73148
21     200611  15919     13.88013     13.79974     22.46039     39.58147
22     200612  17676     11.34493     11.67489     14.27966     44.67435
23     200701  19978     18.10418     18.58996     21.01469     33.10134
24     200702  18603     26.96007     27.83596     31.50468     31.06513
25     200703  20999     21.67039     26.91372     23.26227     43.99248
26     200704  18616     30.88790     33.93690     29.56937     18.82906
27     200705  18186     21.72040     24.23147     22.19438     10.36445
28     200706  17745     20.06617     22.91399     17.52959      8.79379
29     200707  15430     18.36962     20.03919     18.50881      3.06607
..        ...    ...          ...          ...          ...          ...
143    201701  29867     76.77156     77.20424     53.68364     77.18787
144    201702  29917     65.00346     67.48868     52.80851     76.33200
145    201703  36250     65.19581     66.07324     47.36497    100.00000
146    201704  29604     89.55913     86.05162     77.08855     67.20903
147    201705  21820     63.99169     56.82049     51.14692     57.47002
148    201706  23273     34.04632     31.31207     17.54886     56.38373
149    201707  23242     39.63607     35.02128     27.92320     48.76558
150    201708  22721     39.51681     36.12256     35.66444     47.96614
151    201709  24028     37.51250     34.10243     31.68202     55.01528
152    201710  23135     42.54059     36.29147     36.82100     65.09288
153    201711  26848     39.10518     35.35234     34.04526     66.79991
154    201712  29496     53.38924     53.87812     47.23775     75.42911
155    201801  27554     63.57621     63.68826     59.61294     63.16953
156    201802  23214     56.10526     55.84758     45.95782     61.93746
157    201803  27273     39.40909     38.95345     26.98254     79.26640
158    201804  23398     55.02424     54.59428     44.68561     45.72772
159    201805  22416     40.11695     39.74394     35.10158     35.05761
160    201806  23025     36.33916     33.83555     26.29246     35.52316
161    201807  22910     38.68200     34.91994     32.71907     30.11051
162    201808  22614     38.23959     35.32869     33.51710     29.12297
163    201809  21152     37.10087     36.19350     31.58179     35.59840
164    201810  24638     31.47649     28.40349     26.23463     45.96755
165    201811  34422     44.88728     43.96662     40.47573     53.78321
166    201812  29826     82.52674     85.89960     87.30483     65.75594
167    201901  29059     64.84573     66.36376     60.74251     55.78180
168    201902  27177     61.89505     63.28626     42.71946     56.14860
169    201903  30642     54.65492     55.79015     40.66849     77.69574
170    201904  24934     67.98492     71.34315     55.20645     49.20292
171    201905  24495     46.02601     45.63543     36.18104     41.02986
172    201906  23423     44.33715     38.40619     30.51775     42.03621

     NORM_CNT
0    24.27099
1    22.18974
2    22.58598
3    18.50427
4    15.94983
5     8.73278
6     9.94845
7    14.00323
8    19.12749
9    32.68831
10   46.10679
11   43.86397
12   44.24867
13   52.68908
14   43.00993
15   39.09748
16   38.29345
17   37.30861
18    0.00000
19   13.26845
20   13.88013
21   11.34493
22   18.10418
23   26.96007
24   21.67039
25   30.88790
26   21.72040
27   20.06617
28   18.36962
29    9.46372
..        ...
143  65.00346
144  65.19581
145  89.55913
146  63.99169
147  34.04632
148  39.63607
149  39.51681
150  37.51250
151  42.54059
152  39.10518
153  53.38924
154  63.57621
155  56.10526
156  39.40909
157  55.02424
158  40.11695
159  36.33916
160  38.68200
161  38.23959
162  37.10087
163  31.47649
164  44.88728
165  82.52674
166  64.84573
167  61.89505
168  54.65492
169  67.98492
170  46.02601
171  44.33715
172  40.21313

[173 rows x 7 columns]

In [11]:
mode = tf.global_variables_initializer()

In [42]:
xy_001 = np.array(df_resource_001, dtype=np.float32)
x_data_001 = xy_001[:,2:-1]
# print(x_data_001)
y_data_001 = xy_001[:,[-1]]
# print(y_data_001)
cnt_001 = xy_001[:,[1]]
min_cnt_001 = min(cnt_001)
max_cnt_001 = max(cnt_001)
print(min_cnt_001, max_cnt_001)

xy_002 = np.array(df_resource_002, dtype=np.float32)
x_data_002 = xy_002[:,1:-1]
# print(x_data_002)
y_data_002 = xy_002[:,[-1]]
# print(y_data_002)
cnt_002 = xy_002[:,[1]]
min_cnt_002= min(cnt_002)
max_cnt_002= max(cnt_002)
print(min_cnt_002, max_cnt_002)

xy_004 = np.array(df_resource_004, dtype=np.float32)
x_data_004 = xy_004[:,1:-1]
# print(x_data_004)
y_data_004 = xy_004[:,[-1]]
# print(y_data_004)
cnt_004 = xy_004[:,[1]]
min_cnt_004= min(cnt_004)
max_cnt_004= max(cnt_004)
print(min_cnt_004, max_cnt_004)

xy_008 = np.array(df_resource_008, dtype=np.float32)
x_data_008 = xy_008[:,1:-1]
# print(x_data_008)
y_data_008 = xy_008[:,[-1]]
# print(y_data_008)
cnt_008 = xy_008[:,[1]]
min_cnt_008= min(cnt_008)
max_cnt_008= max(cnt_008)
print(min_cnt_008, max_cnt_008)

xy_003 = np.array(df_resource_003, dtype=np.float32)
x_data_003 = xy_003[:,1:-1]
# print(x_data_003)
y_data_003 = xy_003[:,[-1]]
# print(y_data_003)
cnt_003 = xy_003[:,[1]]
min_cnt_003= min(cnt_003)
max_cnt_003= max(cnt_003)
print(min_cnt_003, max_cnt_003)

xy_tp1 = np.array(df_resource_tp1, dtype=np.float32)
x_data_tp1 = xy_tp1[:,1:-1]
# print(x_data_tp1)
y_data_tp1 = xy_tp1[:,[-1]]
# print(y_data_tp1)
cnt_tp1 = xy_tp1[:,[1]]
min_cnt_tp1= min(cnt_tp1)
max_cnt_tp1= max(cnt_tp1)
print(min_cnt_tp1, max_cnt_tp1)

[20067.] [76954.]
[12970.] [38964.]
[7996.] [60438.]
[2597.] [14925.]
[1515.] [15068.]
[3591.] [31952.]

In [36]:
# placeholder 만들기
X = tf.placeholder(tf.float32, shape=[None,5])
Y = tf.placeholder(tf.float32, shape=[None,1])
# 가중치값 초기화
W = tf.Variable(tf.random_normal([5,1],name='weight'))
# 바이어스값 초기화
b = tf.Variable(tf.random_normal([1]), name='bias')

# 가설식 설정
hypothesis = tf.matmul(X,W)+b
# 비용함수 설정
cost = tf.reduce_mean(tf.square(hypothesis-Y))
# 최적화함수 설정
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train = optimizer.minimize(cost)

In [37]:
# (001)정수기
# 세션 초기화
sess_001 = tf.Session()
# 글로벌 변수 초기화
sess_001.run(tf.global_variables_initializer())
# 학습진행
for step in range(10000) :
    cost_, hypo_, _ = sess_001.run([cost,hypothesis,train],feed_dict={X:x_data_001,Y:y_data_001})
    if step % 500 == 0:
        print("#",step," 손실 비용:",cost_)
        print("- 판매량 : ", hypo_[0])

# 0  손실 비용: 2870.5906
- 판매량 :  [2.3154616]
# 500  손실 비용: 289.3035
- 판매량 :  [0.7264317]
# 1000  손실 비용: 199.10152
- 판매량 :  [0.26553744]
# 1500  손실 비용: 162.77728
- 판매량 :  [0.00957564]
# 2000  손실 비용: 147.64151
- 판매량 :  [-0.12485905]
# 2500  손실 비용: 140.95576
- 판매량 :  [-0.18600214]
# 3000  손실 비용: 137.67998
- 판매량 :  [-0.20269261]
# 3500  손실 비용: 135.80785
- 판매량 :  [-0.1925291]
# 4000  손실 비용: 134.53728
- 판매량 :  [-0.16637687]
# 4500  손실 비용: 133.54543
- 판매량 :  [-0.13098308]
# 5000  손실 비용: 132.70026
- 판매량 :  [-0.0905378]
# 5500  손실 비용: 131.94624
- 판매량 :  [-0.04763982]
# 6000  손실 비용: 131.25854
- 판매량 :  [-0.00389393]
# 6500  손실 비용: 130.62463
- 판매량 :  [0.03972253]
# 7000  손실 비용: 130.03732
- 판매량 :  [0.08262542]
# 7500  손실 비용: 129.49158
- 판매량 :  [0.12447447]
# 8000  손실 비용: 128.98361
- 판매량 :  [0.1650841]
# 8500  손실 비용: 128.5101
- 판매량 :  [0.2043722]
# 9000  손실 비용: 128.06822
- 판매량 :  [0.2422917]
# 9500  손실 비용: 127.65537
- 판매량 :  [0.278851]

In [46]:
rslt = sess_001.run(hypothesis,feed_dict={X:((66.19966,72.63951,61.19766,47.36794,71.46066),)})
prdct_rslt = rslt/100*(max_cnt_001-min_cnt_001)+min_cnt_001
print(rslt,prdct_rslt/57150)
# rslt/100*(mac_cnt_001-min_cnt_001)+min_cnt_001

[[66.53678]] [[1.0134345]]